.wrapper {
    display: grid;
    position: relative;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin: 0 auto;
    min-height: 100vh;
}


* {
    overflow: hidden;
    margin: 0;

}